#error_explanation{
  width: 80%;
  margin: 45px auto;
  text-align: center;
  color: #de1729;
  border: solid 2px #fb6127;
  padding: 15px 0;
  h2{
    font-size: 17px;
    margin: 0 0 15px;
    font-weight: 600;
  }
}